.navbar-component{
    width: 15%;
    position: absolute;
    background-color: white;
}
.nav-content{
    display: grid;
}
.nav-head{
    position: absolute;
    font-size: 20px;
    color: #4769d7;
    margin: 15px 40px;
}
.nav-links{
    display: grid;
    height: 100vh;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.nav-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #222326;
    margin: 10px 0px;
    font-size: 16px;
}
.nav-link:hover{
    color: #4769d7;
}
.profile-icon{
    font-size: 100px;
    position: absolute;
    top: 75px;
    left: 50px;
}